<div class="row">
  <div class="col-xs12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs12">
    <h1>Nome da receita</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Gerenciar receitas <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Lista de compras</a> </li>
        <li><a href="#">Editar receitas</a> </li>
        <li><a href="#">Deletar receita</a> </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs12">
    Descrição
  </div>
</div>
